<div class="d-flex align-items-center">
    <div>
        <div class="mb-2">
            {{ include('shared/_avatar.html.twig', { profile: user.userProfile, size: 32 }) }}
        </div>
        <div class="h2">{{ user.userProfile.name ?? user.email }}</div>
        <div class="h5 text-muted">{{ user.email }}</div>

        {% if user.userProfile != null %}
            <div class="h6 text-dark">
                {{ user.userProfile.bio ?? 'No bio' }}
            </div>

            <div class="d-flex">
                <div class="h6 text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-geo-alt-fill me-2" viewBox="0 0 16 16" fill="currentColor">
                        <path d="M8 16s6-5.686 6-10A6 6 0 008 0a6 6 0 00-6 6c0 4.314 6 10 6 10zm0-7a3 3 0 110-6 3 3 0 010 6z"/>
                    </svg> {{ user.userProfile.location ?? 'Unknown' }}
                </div>
                <div class="h6 text-muted ms-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-calendar-event-fill me-2" viewBox="0 0 16 16" fill="currentColor">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zM2.5 7a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm9 3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zM2.5 10a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
                    </svg> {% if user.userProfile.dateOfBirth %}{{ user.userProfile.dateOfBirth | date("M j, Y") }}{% else %}Unknown{% endif %}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="ms-5 h2">
{#        {{ include('follower/_follow_button.html.twig', { userToFollow: user }) }}#}
    </div>
</div>
