{% extends 'base.html.twig' %}

{% block title %}
    {{ 'register'|trans_session }}
{% endblock %}

{% block bread %}
    → {{ 'register'|trans_session }}
{% endblock %}

{% block body %}
    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="h5 mb-3">
        {{ 'basic_info'|trans_session }}
    </div>
    <div class="text-secondary mb-4 pb-2 border-bottom">
        {{ 'enter_your_credentials'|trans_session }}
    </div>

    <div>
        {{ form_label(
            registrationForm.username,
            'username'|trans_session,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control mb-2'}})}}
        {{ form_errors(registrationForm.username) }}
    </div>

    <div>
        {{ form_label(
            registrationForm.email,
            'email'|trans_session,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control mb-2'}})}}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="row g-3">
        <div class="col-md-6">
            {{ form_label(
                registrationForm.plainPassword.first,
                'password'|trans_session,
                {'label_attr': {'class': 'form-label'}}
            ) }}
            {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control mb-2'}})}}
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>
        <div class="col-md-6">
            {{ form_label(
                registrationForm.plainPassword.second,
                'repeated_password'|trans_session,
                {'label_attr': {'class': 'form-label'}}
            ) }}
            {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control mb-2'}})}}
            {{ form_errors(registrationForm.plainPassword.second) }}
        </div>
    </div>

    <div class="d-flex align-items-center my-3">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input mb-2'}}) }}
        {{ form_label(
            registrationForm.agreeTerms,
            'agree_to_terms'|trans_session,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <div class="h5 mt-4 mb-3">
        {{ 'your_profile'|trans_session }}
    </div>
    <div class="text-secondary mb-4 pb-2 border-bottom">
        {{ 'more_optional_details'|trans_session }}
    </div>

    {{ include ('/settings_profile/_profile_form.html.twig', { form: registrationForm.userProfile, readonly: false }) }}

    <div>
        <button type="submit" class="btn btn-primary w-100 mt-3 mb-2">
            {{ 'register_2'|trans_session }}
        </button>
    </div>
    {{ form_end(registrationForm) }}

    <div class="mt-2 text-center text-secondary">
        {{ 'already_have_account'|trans_session }}
        <a href="{{ path('app_login') }}" class="link-primary">
            {{ 'login_here'|trans_session }}
        </a>
    </div>
{% endblock %}
