{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>{{ form_errors(form) }}</div>

<div class="p-4 bg-light rounded" style="border: 1px dashed #89c2d9">
    <div class="col-6 px-0 mb-3">
        {{ form_widget(form.translations, {'attr': {'class': 'form-control shadow-sm', 'style': 'display: none'}}) }}

        <div class="d-flex flex-column">
            {% for locale in locales %}
                <div class="d-flex my-2">
                    <div class="w-100">
                        {{ form_label(form['name_' ~ locale]) }}
                        {{ form_widget(form['name_' ~ locale], {attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form['name_' ~ locale]) }}
                    </div>
                </div>
            {% endfor %}
{#            {% endif %}#}
        </div>
    </div>
</div>

<div class="col-6 px-0">
    <button type="submit" class="btn btn-primary w-100 mt-4 mb-2">
        {{ 'save'|trans_session }}
    </button>
</div>
{{ form_end(form) }}
