{% extends 'admin/admin_base.html.twig' %}

{% block title %}
    {{ 'tag.add'|trans_session|title }}
{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_tag_index') }}">
    {{ 'the_tags'|trans_session|title }}
</a> → {{ 'actions.add'|trans_session|title }}
{% endblock %}

{% block body %}
    {{ include('admin/tags/_form.html.twig') }}
{% endblock %}
