{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'edit_tag'|trans({}, null, app.session.get('_locale', 'en')) }}{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_tag_index') }}">
    {{ 'tags'|trans({}, null, app.session.get('_locale', 'en')) }}
</a> → {{ 'edit'|trans({}, null, app.session.get('_locale', 'en')) }}
{% endblock %}

{% block body %}
    {{ include ('admin/tags/_form.html.twig') }}
{% endblock %}
