{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'edit_tag'|trans_session }}{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_tag_index') }}">
    {{ 'tags'|trans_session }}
</a> → {{ 'edit'|trans_session }}
{% endblock %}

{% block body %}
    {{ include ('admin/tags/_form.html.twig') }}
{% endblock %}
