{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div>{{ form_errors(form) }}</div>

<div class="p-4 bg-light rounded" style="border: 1px dashed #89c2d9">
    <div class="px-0 col-6 mb-3">
        {% set labelTranslation = 'user.enter_username'|trans_session|capitalize %}
        {{ form_label(
            form.username,
            labelTranslation,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control shadow-sm'}}) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="px-0 col-6 mb-3">
        {% set labelTranslation = 'user.enter_email'|trans_session|capitalize %}
        {{ form_label(
            form.email,
            labelTranslation,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control shadow-sm'}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="text-secondary my-4 pb-2 border-bottom">
        {{ 'user.change_password_text'|trans_session|capitalize }}
    </div>

    <div class="row g-3 d-flex flex-column">
        <div class="col-md-6">
            {% set labelTranslation = 'user.new_password'|trans_session|capitalize %}
            {{ form_label(
                form.plainPassword.first,
                labelTranslation,
                {'label_attr': {'class': 'form-label'}}
            ) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control mb-2'}})}}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="col-md-6">
            {% set labelTranslation = 'user.repeat_new_password'|trans_session|capitalize %}
            {{ form_label(
                form.plainPassword.second,
                labelTranslation,
                {'label_attr': {'class': 'form-label'}}
            ) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control mb-2'}})}}
            {{ form_errors(form.plainPassword.second) }}
        </div>
    </div>
</div>

<div class="col-6 px-0">
    <button type="submit" class="btn btn-primary w-100 mt-4 mb-2">
        {{ 'actions.save'|trans_session|title }}
    </button>
</div>
{{ form_end(form) }}
