{% extends 'admin/admin_base.html.twig' %}

{% block title %}
    {{ 'create_user'|trans_session }}
{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_tag_index') }}">
    {{ 'users'|trans_session }}
</a> → {{ 'create'|trans_session }}
{% endblock %}

{% block body %}
    {{ include ('admin/users/_form.html.twig') }}
{% endblock %}
