{% extends 'admin/admin_base.html.twig' %}

{% block title %}
    {{ 'user.edit'|trans_session|title }}
{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_tag_index') }}">
    {{ 'the_users'|trans_session|title }}
</a> → {{ 'actions.edit'|trans_session|title }}
{% endblock %}

{% block body %}
    {{ include ('admin/users/_form.html.twig') }}
{% endblock %}
