{% extends 'admin/admin_base.html.twig' %}

{% block title %}
    {{ 'post_details'|trans_session }}
{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_tag_index') }}">
    {{ 'tags'|trans_session }}
</a> → {{ 'show'|trans_session }}
{% endblock %}

{% block body %}
    <div class="card" style="width: 33%; margin-left: auto; margin-right: auto; margin-top: 10%">
        <h4 class="card-title my-3 mx-auto">
            {{ 'user_details'|trans_session }}
        </h4>
        <div class="card-body rounded bg-light border">
            <p class="card-text">
                <strong>{{ 'username'|trans_session }}:</strong> {{ user.username }}
            </p>
            <p class="card-text">
                <strong>{{ 'email'|trans_session }}:</strong> {{ user.email }}
            </p>
            <p class="card-text">
                <strong>{{ 'roles'|trans_session }}:</strong> {{ user.roles|join(', ') }}
            </p>
        </div>
    </div>
{% endblock %}
