{% extends 'base.html.twig' %}

{% block bread %}
    → {{ 'auth.login'|trans_session|title }}
{% endblock %}

{% block body %}
    <form action="{{ path('app_login') }}" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">
                {{ 'user.email'|trans_session|capitalize }}
            </label>
            <input type="email"
                   class="form-control"
                   id="username"
                   name="_username"
                   value="{{ lastUsername }}" />
        </div>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label for="password" class="form-label">
                {{ 'user.password'|trans_session|capitalize }}
            </label>
            <input type="password"
                   id="password"
                   name="_password"
                   class="form-control" />
        </div>

        <div class="mb-3">
            <label for="remember_me">
                {{ 'auth.remember_me'|trans_session|capitalize }}
            </label>
            <input id="remember_me" type="checkbox" name="_remember_me" checked />
        </div>

        <input type="hidden" name="_target_path" value="/" />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <button type="submit" class="btn btn-primary w-100 mt-2 mb-2">
                {{ 'auth.login'|trans_session|capitalize }}
            </button>
        </div>
    </form>

    <div class="mt-2 text-center">
        {{ 'auth.dont_have_account'|trans_session|capitalize }}
        <a href="{{ path('app_register') }}" class="text-decoration-none">
            {{ 'auth.register_here'|trans_session|capitalize }}
        </a>
    </div>
{% endblock %}
