{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if readonly %}
        <div class="d-flex justify-content-end col-md-6">
            <a href="{{ path('app_profile_edit', {'id': app.user.id}) }}" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i> {{ 'actions.edit'|trans_session }}
            </a>
        </div>
    {% endif %}
{% endif %}

<div class="row mb-2 d-flex flex-column">
    <div class="mb-2">
        {{ 'profile.image'|trans_session|capitalize }}
    </div>
    {% if app.user.userProfile.image is defined %}
        {{ include('shared/_avatar.html.twig', {size: 128, profile: app.user.userProfile}) }}
    {% else %}
        {{ include('shared/_avatar.html.twig', {size: 128, profile: {image: null}}) }}
    {% endif %}

    {% if not readonly %}
        <div class="col-md-6 mt-3 d-flex flex-column">
            <label for="{{ form.image.vars.id }}" class="btn btn-secondary">
                {{ 'actions.change'|trans_session|title }}
                {{ form_widget(form.image, {'attr': {'class': 'visually-hidden'}}) }}
            </label>
            {{ form_errors(form.image) }}
        </div>
    {% else %}
        {{ form_widget(form.image, {attr: {style: 'display: none'}}) }}
    {% endif %}
</div>

<div class="row mb-2">
    <div class="col-md-6">
        {{ form_label(
            form.name,
            'profile.name'|trans_session|capitalize,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(form.name, {'attr': {'readonly': readonly, 'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        {{ form_label(
            form.bio,
            'profile.bio'|trans_session|capitalize,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(form.bio, {'attr': {'readonly': readonly, 'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        {{ form_label(
            form.dateOfBirth,
            'profile.date_of_birth'|trans_session|capitalize,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(form.dateOfBirth, {'attr': {'readonly': readonly, 'class': 'form-control mb-3'}}) }}
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        {{ form_label(
            form.websiteUrl,
            'profile.website_url'|trans_session,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(form.websiteUrl, {'attr': {'readonly': readonly, 'class': 'form-control'}}) }}
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-6">
        {{ form_label(
            form.location,
            'profile.location'|trans_session|capitalize,
            {'label_attr': {'class': 'form-label'}}
        ) }}
        {{ form_widget(form.location, {'attr': {'readonly': readonly, 'class': 'form-control'}}) }}
    </div>
</div>
