{% extends 'base.html.twig' %}

{% block title %}
    {{ 'profile.image'|trans_session }}
{% endblock %}

{% block bread %}
    → {{ 'profile.image'|trans_session }}
{% endblock %}

{% block body %}
    {{ include('settings_profile/_settings_profile_tabs.html.twig') }}

    <div class="d-flex align-items-center">
        {{ include('shared/_avatar.html.twig', {profile: app.user.userProfile, size: 64}) }}

        <div class="ms-3">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
            <label for="{{ form.profileImage.vars.id }}" class="btn btn-secondary cursor-pointer">
                {{ 'actions.change'|trans_session }}
                {{ form_widget(form.profileImage, {'attr': {'class': 'visually-hidden'}}) }}
            </label>
            {{ form_errors(form.profileImage) }}
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary w-100 mt-3 mb-2">
            {{ 'save_changes'|trans_session }}
        </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
