<!DOCTYPE html>
<html class="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
{#        {{ encore_entry_link_tags('app') }}#}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}

    {% block javascripts %}
{#        {{ encore_entry_script_tags('app') }}#}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body class="bg-light text-dark m-2">
<div class="container my-4 d-flex justify-content-between align-items-center">
    <div class="h1">
        <a href="{{ path('app_post') }}" class="text-decoration-none">Home</a>
        {% block bread %}

        {% endblock %}
    </div>

    <div class="text-right">
        <div class="text-secondary d-flex">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div>
                    <a href="{{ path('app_post_add') }}" class="text-decoration-none">Add New</a>
                </div>
                <div class="ml-2">
                    <a href="{{ path('app_settings_profile') }}" class="text-decoration-none">Profile Settings</a>
                </div>
                <div class="ml-2">
                    <a href="{{ path('app_logout') }}" class="text-decoration-none">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="{{ path('app_login') }}" class="text-decoration-none">Login</a>
                </div>
                <div class="ml-2">
                    <a href="{{ path('app_register') }}" class="text-decoration-none">Register</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>
</body>
</html>
