<!DOCTYPE html>
<html class="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
{#        {{ encore_entry_link_tags('app') }}#}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% endblock %}

    {% block javascripts %}
{#        {{ encore_entry_script_tags('app') }}#}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body class="bg-light text-dark m-2">
<div class="container my-4 d-flex justify-content-between align-items-center">
    <div class="h1">
        <a href="{{ path('app_post') }}" class="text-decoration-none">Home</a>
        {% block bread %}
        {% endblock %}
    </div>

    <div class="text-right">
        <div class="text-secondary d-flex">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="mx-2">
                    <a href="{{ path('app_profile') }}" class="text-decoration-none">Profile</a>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="mx-2">
                        <a href="{{ path('admin_panel_index') }}" class="text-decoration-none">Admin Panel</a>
                    </div>
                {% endif %}
                <div class="mx-2 text-primary">
                    <a href="{{ path('app_logout') }}" class="text-decoration-none">
                        Logout
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </div>
            {% else %}
                {% if app.request.attributes.get('_route') not in ['app_login', 'app_register'] %}
                    <div class="mx-2 text-primary">
                        <a href="{{ path('app_login') }}" class="text-decoration-none">
                            Login
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </div>
                    <div class="mx-2">
                        <a href="{{ path('app_register') }}" class="text-decoration-none">Register</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
    {% block body_javascripts %}{% endblock %}
</div>
</body>
</html>
