<div class="mb-4">
    <div class="h2">
        <a href="{{ path('app_post_show', { slug: post.slug }) }}" class="text-decoration-none">
            {{ post.title }}
        </a>
    </div>
    <div class="my-2">
        {% if post.image is defined %}
            <img src="{{ asset(images_public_path ~ 'post_images/' ~ post.image) }}"
                 style="max-width: 384px; max-height: 384px"
                 class="d-inline-block rounded border border-2 border-white"
                 alt="Post image"
            />
        {% endif %}
    </div>
    <div class="lead text-justify my-2">
        {{ post.content }}
    </div>
    <div class="px-3 py-2 border rounded">
        <div class="my-2">
            <div class="small text-secondary">
                {{ 'author'|trans_session }}:
                <a href="{{ path('app_profile_show', { id: post.user.id }) }}" class="text-decoration-none">
                    {{ post.user.email }}
                </a>
            </div>
            <div class="small text-secondary">
                {{ 'written'|trans_session }}: {{ post.createdAt }}
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# The user is authenticated #}
            <div class="my-2 d-flex">
                {% if post.isLiked %}
                    <form action="{{ path('app_unlike', { id: post.id }) }}" method="post" class="d-flex align-items-center">
                        <button type="submit" class="btn btn-link text-decoration-none px-2 py-1 border border-secondary">
                            {{ 'unlike'|trans_session }}
                            <span class="px-2 rounded bg-light">{{ post.likesCount }}</span>
                            <i class="bi bi-heart-fill text-danger"></i>
                        </button>
                    </form>
                {% else %}
                    <form action="{{ path('app_like', { id: post.id }) }}" method="post" class="d-flex align-items-center">
                        <button type="submit" class="btn btn-link text-decoration-none  px-2 py-1 border border-secondary">
                            {{ 'like'|trans_session }}
                            <span class="px-2 rounded bg-light">{{ post.likesCount }}</span>
                            <i class="bi bi-heart text-danger"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="my-2 d-flex">
                {% if post.isFavorite %}
                    <form action="{{ path('app_remove_favorite', { id: post.id }) }}" method="post" class="d-flex align-items-center">
                        <button type="submit" class="btn btn-link text-decoration-none px-2 py-1 border border-secondary">
                            {{ 'remove_from_favorites'|trans_session }}
                            <span class="ml-2">
                                <i class="bi bi-star-fill text-warning"></i>
                            </span>
                        </button>
                    </form>
                {% else %}
                    <a href="{{ path('app_favorite', { id: post.id }) }}" class="text-decoration-none d-flex align-items-center">

                    </a>
                    <form action="{{ path('app_favorite', { id: post.id }) }}" method="post" class="d-flex align-items-center">
                        <button type="submit" class="btn btn-link text-decoration-none px-2 py-1 border border-secondary">
                            {{ 'add_to_favorites'|trans_session }}
                            <span class="ml-2">
                                <i class="bi bi-star text-warning"></i>
                            </span>
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="my-2 d-flex">
                {% if post.user.id == app.user.id %}
                    <div>
                        <a href="{{ path('app_post_edit', { post: post.id }) }}" class="mr-2 text-decoration-none">
                            {{ 'actions.edit'|trans_session }}
                            <i class="bi bi-pencil-square text-primary"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="my-2">
                {{ 'the_comments'|trans_session }}:
                <span class="px-1 rounded bg-light">{{ post.comments|length }}</span>
            </div>
        {% endif %}
    </div>
</div>
