{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'create_post'|trans({}, null, app.session.get('_locale', 'en')) }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .bi-x-lg {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_post_index') }}">
    {{ 'posts'|trans({}, null, app.session.get('_locale', 'en')) }}
</a> → {{ 'create'|trans({}, null, app.session.get('_locale', 'en')) }}
{% endblock %}

{% block body %}
    {{ include('admin/posts/_form.html.twig') }}
{% endblock %}

{% block body_javascripts %}
    <script src="{{ asset('js/tag-management.js') }}" defer></script>
{% endblock %}