{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'post.edit'|trans_session|title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .bi-x-lg {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block bread %}
    → <a href="{{ path('admin_post_index') }}">
    {{ 'the_posts'|trans_session|title }}
</a> → {{ 'actions.edit'|trans_session|title }}
{% endblock %}

{% block body %}
    {{ include('admin/posts/_form.html.twig', {post: post}) }}
{% endblock %}

{% block body_javascripts %}
    <script src="{{ asset('js/tag-management.js') }}" defer></script>
{% endblock %}