{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin - Posts{% endblock %}

{% block header_text %}
    Posts Management
{% endblock %}

{% block body %}
    <div class="mt-3 p-4 rounded" style="border: 1px dashed #89c2d9">
        <div class="d-flex justify-content-end">
            <a href="{{ path('admin_post_create') }}">
                <button class="btn btn-primary">Create Post</button>
            </a>
        </div>

        {% if posts|length > 0 %}
        <table id="postsTable" class="mt-3 table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Tags</th>
                <th>Status</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {# Your posts data here #}
                {% for post in posts %}
                    <tr style="cursor: pointer;" onclick="window.location.href='{{ path('admin_post_show', {'post': post.id}) }}'; event.stopPropagation();">
                        <td>{{ post.title }}</td>
                        <td>{{ post.user.email }}</td>
                        <td class="small">
                            {{ post.postTags|map(postTag => postTag.tag.name)|join(', ') }}
                        </td>
                        <td>
                            {% if post.isPublished %}
                                <span class="py-2 px-3 badge bg-success text-white">Published</span>
                            {% else %}
                                <span class="py-2 px-3 badge bg-warning text-dark">Unpublished</span>
                            {% endif %}
                        </td>
                        <td>{{ post.createdAt|date('d/m/Y H:i') }}</td>
                        <td>
                            <div style="cursor: pointer;">
                                <a href="{{ path('admin_post_edit', {post: post.id}) }}">
                                    <span class="text-primary">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </span>
                                </a>
                            </div>
                            <div style="cursor: pointer;">
                                <a href="{{ path('admin_post_delete', {post: post.id}) }}">
                                    <span class="text-danger" >
                                        <i class="bi bi-archive delete-comment"></i> Delete
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="d-flex justify-content-center lead">
                There are no posts.
            </div>
        {% endif %}
    </div>
{% endblock %}
